/* 
- James N // Radded's Portfolio site -->
- contact.css
- Styling for the contact info page of my portfolio!
*/


/** HEADER TITLE BUTTON COLOUR CHANGE **/
#nav-links-container .active {
    background-color: #e80c0c;
}


/** PAGE-WIDE THINGS **/
#site-body h1 {
    text-align: center;
    font-size: 5vmin;
    font-family: 'Roboto', sans-serif;
}

#site-body a {
    text-decoration: none;
}

img {
    width: 100%;
}


/** DISCORD-USER **/
.discord-container {
    background: #5865f2;
    position: relative;
    height: 60vmin;
}

#discord-logo {
    width: 20vmin;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 100%;
}

#discord-pfp-container {
    position: relative;
    width: 30vmin;
    height: 30vmin;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0);
    
}


#discord-pfp {
    width: 30vmin;
    height: auto;
    position: relative;
    border-radius: 100%;
    left: 50%;
    transform: translate(-50%, 0);
}

#discord-online-dot {
    width: 10vmin;
    height: 10vmin;
    background: #3ba55d;
    border-radius: 100%;
    position: relative;
    transform: translate(-100%, -100%);
    left: 100%
}

.discord-container p {
    width: 100%;
    position: absolute;
    top: 70%;
    left: 0%;
    font-size: 10vmin;
    text-align: center;
}

.discord-embed {
    display: block;
    margin: auto;
    margin-bottom: 5vmin;
    border-radius: 20px;
}